/* * {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: red;
}

p {
    font-size: small ;
}

h1{
    color: green
}

div > h1 {
    color: purple
}

span {
    color: blue !important;
}

p > span {
    color: yellow !important;
}

.paragraph > span {
    color: brown !important;
}

#paragraph-id > span {
    color: gray;
} */
/* p >span {
    color: yellow;
} */
/* .text {
    color: blue ;
}

#paragraph-1 {
    color: red;
} */

/* .sub-section p {
    color: yellowgreen;
}

.paragraph-1~p{
    color: darkcyan;
} */

/* .nav-container > a {
    color: brown;
}

.main-container > h1, p {
    color: red;
}

.cover {
    width: 100%;
} */
/* 
* {
    color: green;
}

ul>li {
    color: red;
}

.vegetables>li {
    color: purple;
}


.vegetables>li {
    color: saddlebrown;
}

.container {
    color: yellowgreen;
}

h1 {
    color: inherit;
} */


/* .descendent~p {
    color: darkgrey;
} */
/* 
div {
    height: 50px;
    width: 100%;
    align-content: center;
    color: white;
}

.forteen {
    background-color: rgba(0, 0, 255, 0.7); 
}

.thirteen{
    background-color: rgba(0, 0, 255, 0.6 ); 
}

.twelve {
    background-color: rgba(0, 0, 255, 0.5); 
}

.eleven {
    background-color: rgba(0, 0, 255, 0.4); 
}

.ten {
    background-color: rgba(0, 0, 255, 0.3); 
}

.nine {
    background-color: rgba(0, 0, 255, 0.2); 
}
.eight {
    background-color: rgba(0, 0, 255, 0.1); 
}

.seven {
    background-color: palegreen;
}

.six {
    background-color: rgba(255, 0, 0, 0.1);
}

.five {
    background-color: rgba(255, 0, 0, 0.2);
}

.four {
    background-color: rgba(255, 0, 0, 0.3);
}

.three {
    background-color: rgba(255, 0, 0, 0.4);
}

.two {
    background-color: rgba(255, 0, 0, 0.5);
}

.one {
    background-color: rgba(255, 0, 0, 0.6);
}

.zero {
    background-color: rgba(255, 0, 0, 0.7);
} */

.font-container {
    font-size: 32px;
}
.main-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}