/* * {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: red;
}

p {
    font-size: small ;
}

h1{
    color: green
}

div > h1 {
    color: purple
}

span {
    color: blue !important;
}

p > span {
    color: yellow !important;
}

.paragraph > span {
    color: brown !important;
}

#paragraph-id > span {
    color: gray;
} */
/* p >span {
    color: yellow;
} */
/* .text {
    color: blue ;
}

#paragraph-1 {
    color: red;
} */

/* .sub-section p {
    color: yellowgreen;
}

.paragraph-1~p{
    color: darkcyan;
} */

/* .nav-container > a {
    color: brown;
}

.main-container > h1, p {
    color: red;
}

.cover {
    width: 100%;
} */

* {
    color: green;
}

ul>li {
    color: red;
}

.vegetables>li {
    color: purple;
}


.vegetables>li {
    color: saddlebrown;
}

.container {
    color: yellowgreen;
}

h1 {
    color: inherit;
}